.wrap, input, footer, .order-form, .c-flex-column, section, main, body, .track-info, .popular-track, .buttons, .lower-footer, .upper-footer, .pricing-value, .inputs, .horizontal-menu, header, .logo, .c-flex-row, .similar-info, .img-app, .a-left-container, .descr-btn {
  display: flex;
}

.track-info, .upper-footer, .inputs, .c-flex-row {
  justify-content: space-between;
}

.popular-track, .descr-btn, .lower-footer {
  justify-content: flex-start;
}

.track-info, .popular-track, .descr-btn, .img-app, .order-form, .wrap, .logo, .c-flex-column, section, body {
  align-items: center;
}

.a-left-container, .pricing-value {
  align-items: flex-start;
}

.similar-info, .img-app, .pricing-value, header, footer, section {
  justify-content: center;
}

.track-info, .popular-track, .buttons, .lower-footer, .upper-footer, .pricing-value, .inputs, .horizontal-menu, header, .logo, .c-flex-row {
  flex-direction: row;
}

footer, .order-form, .c-flex-column, section, main, body {
  flex-direction: column;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  flex: 1 0 auto;
}

footer {
  width: 100%;
  flex: 0 0 auto;
}

.wrap, input, .track-info, .upper-footer, .inputs, .c-flex-row, .popular-track, .descr-btn, .lower-footer, .img-app, .order-form, .logo, .c-flex-column, section, .a-left-container, .pricing-value, .similar-info, header, .buttons, .horizontal-menu, footer, body, main {
  display: flex;
}

.track-info, .upper-footer, .inputs, .c-flex-row {
  justify-content: space-between;
}

.popular-track, .descr-btn, .lower-footer {
  justify-content: flex-start;
}

.track-info, .popular-track, .descr-btn, .img-app, .order-form, .wrap, .logo, .c-flex-column, section, body {
  align-items: center;
}

.a-left-container, .pricing-value {
  align-items: flex-start;
}

.similar-info, .img-app, .pricing-value, header, section, footer {
  justify-content: center;
}

.track-info, .popular-track, .buttons, .lower-footer, .upper-footer, .pricing-value, .inputs, .horizontal-menu, header, .logo, .c-flex-row {
  flex-direction: row;
}

footer, .order-form, .c-flex-column, section, body, main {
  flex-direction: column;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  flex: 1 0 auto;
}

footer {
  width: 100%;
  flex: 0 0 auto;
}

body {
  font-family: "Roboto";
  line-height: 1.5;
  color: #ffffff;
  background-color: #08020d;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
}

.grid-4-columns {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 676px) {
  .container {
    box-sizing: border-box;
    padding: 0 20px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
}
main {
  position: relative;
  top: -60px;
}

@media screen and (max-width: 676px) {
  main {
    top: -180px;
  }
}
a {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  width: 140px;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.item {
  width: calc(100% - 50px);
  margin-top: 25px;
  align-self: baseline;
}

@media screen and (max-width: 676px) {
  .item-img {
    max-width: calc(100% - 50px);
  }

  .item {
    width: 100%;
  }
}
.item-descr {
  margin-top: 10px;
}

@media screen and (max-width: 676px) {
  .item-descr {
    max-width: calc(100% - 45px);
  }
}
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

@media screen and (max-width: 676px) {
  .mobile-left {
    align-items: flex-start !important;
  }

  .grid-m-2-columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
h2 {
  margin-top: 100px;
  margin-bottom: 25px;
}

.align-left {
  text-align: left;
}

.text-normal {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

.logo img {
  height: 24px;
  width: 24px;
  padding-right: 15px;
}
@media screen and (max-width: 676px) {
  .logo img {
    max-width: 100%;
    padding-right: 15px;
  }
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 37px;
  line-height: 57px;
}

h3 {
  font-size: 23px;
  line-height: 45px;
}

p {
  font-size: 16px;
  line-height: 24px;
}

.artist, body {
  font-size: 18px;
  line-height: 27px;
}

.track-time, .track-descr, .btn-red-app, .small-font, .pricing-footer, .logo {
  font-size: 13px;
  line-height: 19px;
}

input {
  font-size: 13px;
  line-height: 16px;
}

.small-header, header {
  font-size: 11px;
  line-height: 13px;
}

@media screen and (max-width: 676px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 15px;
    line-height: 24px;
  }

  .artist, body {
    font-size: 18px;
    line-height: 24px;
  }

  .track-time, .track-descr, .btn-red-app, .small-font, .pricing-footer, .logo {
    font-size: 13px;
    line-height: 19px;
  }
}
.upper-text {
  text-transform: uppercase;
}

.wrap, input, .track-info, .upper-footer, .inputs, .popular-track, .descr-btn, .lower-footer, .img-app, .order-form, .a-left-container, .pricing-value, .similar-info, header, .buttons, .horizontal-menu, footer, body, main, section, .c-flex-column, .c-flex-row, .logo {
  display: flex;
}

.track-info, .upper-footer, .inputs, .c-flex-row {
  justify-content: space-between;
}

.popular-track, .descr-btn, .lower-footer {
  justify-content: flex-start;
}

.track-info, .popular-track, .descr-btn, .img-app, .order-form, .wrap, body, section, .c-flex-column, .logo {
  align-items: center;
}

.a-left-container, .pricing-value {
  align-items: flex-start;
}

.similar-info, .img-app, .pricing-value, header, section, footer {
  justify-content: center;
}

.track-info, .popular-track, .buttons, .lower-footer, .upper-footer, .pricing-value, .inputs, .horizontal-menu, header, .c-flex-row, .logo {
  flex-direction: row;
}

footer, .order-form, body, main, section, .c-flex-column {
  flex-direction: column;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  flex: 1 0 auto;
}

footer {
  width: 100%;
  flex: 0 0 auto;
}

header {
  position: relative;
  background: transparent;
  width: 100%;
  z-index: 9999;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 25px;
}

@media screen and (max-width: 676px) {
  header {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 676px) {
  .small-header {
    font-size: 11px;
    line-height: 13px;
  }
}
input {
  background-color: #3C3B3D;
  color: #cacaca;
  border-radius: 15px;
  height: 1.5em;
  align-self: center;
  border: 1px solid #3C3B3D;
  padding: 10px 40px 10px 10px;
}

@media screen and (max-width: 676px) {
  input {
    font-size: 13px;
    line-height: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 676px) {
  .wrap {
    padding-top: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.horizontal-menu {
  list-style: none;
  margin: 0 0 0 50px;
}

@media screen and (max-width: 676px) {
  .horizontal-menu {
    text-align: left;
    flex-direction: column;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 0;
  }
  .horizontal-menu li {
    line-height: 15px;
  }
}
nav a {
  text-decoration: none;
  padding-right: 25px;
  color: #ffffff;
}

.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.order-form {
  max-width: 570px;
  width: 100%;
  line-height: 5px;
}

.sqr-input {
  border-radius: 0;
  max-width: 270px;
  min-height: 50px;
  flex-grow: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 270px;
  padding: 0 0 0 20px;
  margin-bottom: 1.5rem;
  border: 1px solid #cacaca;
  background: transparent;
  color: #ffffff;
}

.inputs {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
}

.btn-green {
  border: 1px solid #34C176;
  background-color: #34C176;
  padding: 25px 30px;
  font-size: 13px;
  width: 100%;
  margin: 0;
}

.wrap {
  width: 100%;
}

.h1-home {
  margin: 10px 0 0 0;
}

.mar-t-30 {
  margin-top: 30px;
}

@media screen and (max-width: 676px) {
  .h1-home {
    margin-top: 60px;
  }

  .mar-t-30 {
    margin-top: 10px;
  }

  .inputs {
    flex-direction: column;
  }

  .sqr-input {
    max-width: 100% !important;
  }

  .btn-green {
    width: calc(100% - 60px);
  }

  .btn-green-wrap {
    padding-top: 0;
  }
}
.items {
  width: 100%;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  grid-gap: 50px;
}

.pricing-item {
  flex: 1;
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.pricing-value {
  line-height: 1rem;
  margin-bottom: 35px;
  margin-right: 10px;
}

.price {
  font-size: 64px;
  line-height: 64px;
}

.value {
  font-size: 32px;
  line-height: 48px;
  padding-left: 12px;
}

.pricing-footer {
  padding: 0;
  margin-top: 65px;
  margin-bottom: 55px;
}

.section-footer {
  margin-bottom: 0;
  margin-top: 0;
}

.h2-pricing {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 50px;
}

.h3-pricing {
  padding-bottom: 200px;
  margin-top: 15px;
  margin-bottom: 0;
}

.btn-pricing {
  display: block;
  width: calc(100% - 60px);
}

@media screen and (max-width: 676px) {
  .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .btn-pricing {
    font-size: 16px;
    line-height: 24px;
  }

  .pricing-value {
    margin-bottom: 40px;
  }
}
.news-item {
  grid-gap: 50px;
}

.news-wrap {
  text-align: left;
}

.news-author {
  margin-bottom: 45px;
}
.news-author img {
  width: 19px;
  height: 19px;
}

.autor {
  color: #F89202;
  margin-right: 15px;
}

.news-body {
  margin-bottom: 10px;
}

.grid-reverse {
  grid-template-areas: "grid-descr grid-img";
  margin-top: 60px;
}

.grid-img {
  grid-area: grid-img;
}

.grid-desrc {
  grid-area: grid-desrc;
}

.btn-news {
  padding: 16px 30px 16px 30px;
}

.h2-news {
  margin-bottom: 50px;
}

.h3-news {
  font-size: 30px;
  line-height: 45px;
  margin-top: 0;
}

@media screen and (max-width: 676px) {
  .news-item {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .news-img {
    width: 100%;
  }

  .h3-news {
    font-size: 16px;
    line-height: 24px;
  }

  .grid-reverse {
    display: block;
    margin-top: 80px;
  }

  .grid-img {
    margin-bottom: 45px;
  }
}
.description-app {
  text-align: left;
}

.img-app {
  align-self: center;
}

.btn-red-app {
  padding: 15px 35px;
  border-color: #95390C;
  border-radius: 2rem;
  background-color: #95390C;
  color: #ffffff;
}

.mar-t-20 {
  margin-top: 20px;
}

.mar-b-30 {
  margin-bottom: 30px;
}

@media screen and (max-width: 676px) {
  .mobile-reverse {
    flex-direction: column-reverse !important;
  }

  .img-app {
    width: 100%;
  }
  .img-app img {
    width: 100%;
    margin-bottom: -35px;
  }

  .m-bot-30 {
    margin-top: 10px;
  }
}
footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.upper-footer {
  line-height: 3rem;
  width: 100%;
  margin-bottom: 55px;
}
.upper-footer ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  padding-top: 45px;
  margin-top: 0;
  margin-right: 50px;
  margin-left: 0;
  flex: 1;
}
.upper-footer ul p {
  font-size: 18px;
}
.upper-footer li {
  font-size: 16px;
  line-height: 24px;
}
.upper-footer .subscribe {
  margin-right: 10px;
}
.upper-footer .subscribe p {
  margin-bottom: 10px;
}
.upper-footer .subscribe img {
  margin-right: 20px;
}

.lower-footer {
  margin-top: 25px;
  line-height: 2rem;
  width: 100%;
}
.lower-footer p {
  margin-right: 15px;
}

.border {
  width: 100%;
  border-top: 1px solid #ffffff;
}

@media screen and (max-width: 600px) {
  .upper-footer {
    flex-direction: column;
    padding-top: 45px;
    margin-bottom: 45px;
  }
  .upper-footer ul {
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 0;
    margin-left: 0;
  }

  .lower-footer {
    padding-left: 0;
    flex-direction: column;
    text-align: left;
  }
  .lower-footer p {
    text-align: left;
    margin-bottom: 0;
  }
}
.artist-description {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.buttons {
  margin-top: 35px;
  margin-bottom: 25px;
  width: 100%;
}

.descr-btn {
  padding: 15px 30px;
}

.btn-purple {
  background-color: #5328A1;
  border-color: #5328A1;
}

.btn-red {
  background-color: #95390C;
  border-color: #95390C;
}

.btn-img {
  height: 1.5em;
  margin-right: 15px;
}

.h1-artist {
  margin-bottom: 0;
  margin-top: 60px;
}

@media screen and (max-width: 600px) {
  .buttons {
    flex-direction: column;
    padding-bottom: 0;
  }

  .descr-btn {
    width: 35%;
    margin-bottom: 25px;
  }

  .a-left-container {
    align-items: flex-start !important;
  }

  .h1-artist {
    margin-top: 30px;
  }
}
.popular-track {
  width: calc(100% - 50px);
  margin-top: 25px;
}

.track-img {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

.track-info {
  flex-grow: 1;
}

.track-descr {
  margin-bottom: 0;
  margin-top: 0;
}

.track {
  text-align: left;
}

@media screen and (max-width: 676px) {
  .popular-track {
    margin-right: 0;
  }

  .mobile-no-padding {
    padding: 0;
  }
}
.similar-item {
  width: calc(25% - 50px);
  margin-top: 25px;
}

.similar-info {
  margin-top: 10px;
}

.descr-center {
  text-align: center;
}

@media screen and (max-width: 676px) {
  .descr-center {
    max-width: calc(100% - 50px);
  }
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}

/*# sourceMappingURL=app.css.map */
