.header-input, footer, .order-form, .c-flex-column, section, main, body, .popular-track, .news-author, .horizontal-menu, header, .c-flex-row, .pricing-value, .a-left-container, .track-info, .descr-btn, .header-wrap, .logo, .lower-footer, .inputs, .header-container {
  display: flex;
}

.track-info, .inputs, .header-wrap, .header-container, .c-flex-row {
  justify-content: space-between;
}

.descr-btn, .lower-footer {
  justify-content: flex-start;
}

.track-info, .descr-btn, .news-author, .pricing-value, .header-wrap, .logo, .c-flex-column, section, body {
  align-items: center;
}

.a-left-container {
  align-items: flex-start;
}

.pricing-value, header, section {
  justify-content: center;
}

.popular-track, .news-author, .horizontal-menu, header, .c-flex-row {
  flex-direction: row;
}

footer, .order-form, .c-flex-column, section, main, body {
  flex-direction: column;
}

.header-input, .track-info, .inputs, .header-wrap, .header-container, .c-flex-row, .descr-btn, .lower-footer, .news-author, .pricing-value, .logo, .c-flex-column, section, body, .a-left-container, header, .popular-track, .horizontal-menu, footer, .order-form, main {
  display: flex;
}

.track-info, .inputs, .header-wrap, .header-container, .c-flex-row {
  justify-content: space-between;
}

.descr-btn, .lower-footer {
  justify-content: flex-start;
}

.track-info, .descr-btn, .news-author, .pricing-value, .header-wrap, .logo, .c-flex-column, section, body {
  align-items: center;
}

.a-left-container {
  align-items: flex-start;
}

.pricing-value, header, section {
  justify-content: center;
}

.popular-track, .news-author, .horizontal-menu, header, .c-flex-row {
  flex-direction: row;
}

footer, .order-form, .c-flex-column, section, main, body {
  flex-direction: column;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  line-height: 1.5;
  color: #ffffff;
  background-color: #08020d;
}

main {
  position: relative;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  flex: 1 0 auto;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, calc(50% - 50px)));
  grid-row-gap: 25px;
  grid-column-gap: 50px;
}

.grid-2-columns-home {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  grid-column-gap: 50px;
}

.grid-4-columns {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, calc(25% - 50px)));
  grid-row-gap: 25px;
  grid-column-gap: 50px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}

.item-descr {
  margin-top: 10px;
}

.add-inf {
  color: #E0E0E0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-wrap {
  white-space: nowrap;
}

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.text-normal {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.logo img {
  height: 24px;
  width: 24px;
  padding-right: 15px;
}

.upper-text {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.t-bold {
  font-weight: bold;
}

.color-d-grey {
  color: #cacaca;
}

.color-grey {
  color: #E0E0E0;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

p {
  font-size: 16px;
}

body, .text-normal {
  font-size: 18px;
}

.track-time, .track-descr, .data, .autor, .pricing-footer, .logo {
  font-size: 13px;
}

.small-header, header {
  font-size: 11px;
}

@media screen and (min-width: 1240px) {
  .container {
    width: 1240px;
  }
}
@media screen and (max-width: 676px) {
  .item {
    width: 100%;
  }

  .grid-m-2-columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, calc(50% - 50px)));
  }

  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  body, .text-normal {
    font-size: 18px;
  }

  .track-time, .track-descr, .data, .autor, .pricing-footer, .logo {
    font-size: 13px;
  }
}
.header-input, .track-info, .inputs, .header-wrap, .header-container, .descr-btn, .lower-footer, .news-author, .pricing-value, .a-left-container, header, .popular-track, .horizontal-menu, footer, .order-form, body, main, section, .c-flex-column, .c-flex-row, .logo {
  display: flex;
}

.track-info, .inputs, .header-wrap, .header-container, .c-flex-row {
  justify-content: space-between;
}

.descr-btn, .lower-footer {
  justify-content: flex-start;
}

.track-info, .descr-btn, .news-author, .pricing-value, .header-wrap, body, section, .c-flex-column, .logo {
  align-items: center;
}

.a-left-container {
  align-items: flex-start;
}

.pricing-value, header, section {
  justify-content: center;
}

.popular-track, .news-author, .horizontal-menu, header, .c-flex-row {
  flex-direction: row;
}

footer, .order-form, body, main, section, .c-flex-column {
  flex-direction: column;
}

header {
  position: absolute;
  background: transparent;
  width: 100%;
  z-index: 9999;
  top: 25px;
}

.header-input {
  font: 13px Arial, sans-serif;
  background-color: #3C3B3D;
  color: #757575;
  border-radius: 15px;
  height: 1.5em;
  border: 3px solid #3C3B3D;
  padding: 10px 65px 10px 5px;
}

.header-wrap {
  font-weight: bold;
}

.horizontal-menu {
  list-style: none;
  margin: 0 0 0 50px;
}
.horizontal-menu li {
  margin-right: 25px;
}

@media screen and (max-width: 750px) and (min-width: 676px) {
  .horizontal-menu {
    margin: 0;
  }
}
@media screen and (max-width: 676px) {
  .header-container {
    flex-direction: column;
  }

  .small-header {
    font-size: 11px;
  }

  .header-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .horizontal-menu {
    text-align: left;
    flex-direction: column;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0;
  }
}
.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.descr-padding {
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-form {
  max-width: 570px;
  margin: 0 auto;
}

.sqr-input {
  border-radius: 0;
  max-width: 270px;
  min-height: 50px;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: transparent;
}

.sqr-input::placeholder {
  text-weight: bold;
  color: #ffffff;
}

.btn-green {
  border: 1px solid #34C176;
  background-color: #34C176;
  width: 100%;
}

.btn-green-wrap {
  width: 100%;
  text-align: center;
}

.p-descr {
  text-align: center;
}

.h1-descr {
  text-align: center;
  margin: 0;
}

.h2-descr {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 676px) {
  .h1-descr {
    margin-top: 50px;
  }

  .h2-descr {
    margin: 0;
  }

  .inputs {
    flex-direction: column;
  }

  .sqr-input {
    max-width: 100%;
  }
}
.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.page-pricing {
  text-align: center;
}

.items {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 50px;
}

.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.pricing-value {
  margin-bottom: 45px;
}

.price {
  font-size: 64px;
  line-height: 45px;
  padding-top: 15px;
}

.value {
  font-size: 32px;
  line-height: 32px;
  padding-left: 12px;
}

.pricing-footer {
  margin-top: 65px;
  margin-bottom: 55px;
}

.h3-pricing {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 200px;
}

.btn-pricing {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.section-pricing-footer {
  margin-bottom: 0;
}

@media screen and (max-width: 676px) {
  .items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 50px;
  }

  .pricing-value {
    margin-bottom: 40px;
  }

  .h3-pricing {
    margin-top: 15px;
    font-size: 16px;
  }
}
.news-wrap {
  text-align: left;
}

.news-author {
  margin-bottom: 35px;
}
.news-author img {
  width: 19px;
  height: 19px;
  margin-right: 15px;
}

.autor {
  color: #F89202;
  margin-right: 15px;
}

.data {
  color: #cacaca;
}

.news-body {
  margin-bottom: 10px;
}

.grid-reverse {
  grid-template-areas: "grid-descr grid-img";
  margin-top: 65px;
}
.grid-reverse .news-body {
  margin-bottom: 5px;
}

.grid-img {
  grid-area: grid-img;
}

.grid-desrc {
  grid-area: grid-desrc;
}

.btn-news {
  color: #cacaca;
  border-color: #cacaca;
  padding: 16px 30px 16px 30px;
}

.h2-news {
  text-align: center;
}

.h3-news {
  font-size: 30px;
  font-weight: normal;
  margin-top: 0;
}

@media screen and (max-width: 676px) {
  .mobile-news {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .h3-news {
    font-size: 16px;
  }

  .grid-img {
    grid-area: initial;
  }

  .grid-reverse {
    grid-template-areas: none;
  }
}
.container-app {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 2fr));
  grid-template-areas: "descr-app img-app";
  grid-gap: 40px;
}

.page-app {
  margin-bottom: 100px;
  text-align: center;
}

.description-app {
  grid-area: descr-app;
  text-align: left;
  color: #cacaca;
}

.img-app {
  grid-area: img-app;
}

.btn-red-app {
  font-size: 12.8px;
  padding: 16px 40px;
  border-color: #95390C;
  border-radius: 2rem;
  background-color: #95390C;
}

@media screen and (max-width: 676px) {
  .mobile-app {
    display: block;
  }

  .m-bot-30 {
    margin-top: 10px;
  }
}
footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  width: 100%;
  flex: 0 0 auto;
  font-size: 16px;
}
footer a {
  color: #E0E0E0;
}

.footer-list {
  text-align: start;
  padding-left: 0;
}
.footer-list p {
  margin: 0;
}

.upper-footer {
  width: 100%;
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}
.upper-footer li {
  list-style: none;
}

.subscribe {
  display: flex;
}
.subscribe a {
  height: 25px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.footer-h2 {
  font-size: 18px;
  line-height: inherit;
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: start;
}

.lower-footer {
  margin-top: 40px;
  margin-bottom: 50px;
}
.lower-footer a {
  margin-right: 15px;
}

.border {
  width: 100%;
  border-top: 1px solid #ffffff;
}

@media screen and (max-width: 676px) {
  .upper-footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    margin-top: 35px;
  }
  .upper-footer ul {
    margin: 0;
  }

  .footer-h2 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .sub-h2 {
    margin-top: 10px;
  }

  .lower-footer {
    flex-direction: column;
  }
  .lower-footer a {
    margin-bottom: 15px;
    text-align: left;
  }

  .border {
    margin-top: 20px;
  }
}
.artist-description {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.buttons {
  margin-top: 35px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 30px;
}

.btn-purple {
  background-color: #5328A1;
  border-color: #5328A1;
}

.btn-red {
  background-color: #95390C;
  border-color: #95390C;
}

.btn-img {
  height: 1.5em;
  margin-right: 15px;
}

.h1-artist {
  margin-bottom: 0;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .buttons {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0;
    margin-bottom: 0;
  }

  .descr-btn {
    margin-bottom: 25px;
  }

  .h1-artist {
    margin-top: 25px;
  }
}
.track-img {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

.track-info {
  flex-grow: 1;
}

.track-descr {
  font-size: 12.8px;
  margin: 0;
}

.track-time {
  color: #E0E0E0;
}

.track {
  text-align: left;
}

@media screen and (max-width: 676px) {
  .popular-mobile-container {
    display: flex;
    flex-direction: column;
  }
}
.page-similar {
  margin-bottom: 100px;
}

.similar-descr {
  text-align: center;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}

/*# sourceMappingURL=app.css.map */
