.artist-description {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.a-left-container {
  @extend %a-start;
}

.buttons {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  margin-top: 3rem;
  margin-bottom: 20px;
}

.descr-btn {
  @extend %j-start;
  @extend %a-center;
}

.btn-purple {
  background-color: $purple;
  border-color: $purple;
}

.btn-red {
  background-color: $red;
  border-color: $red;
}

.btn-img {
  height: 1.5em;
  margin-right: 15px;
}

.h1-artist {
  width: 100%;
  margin-bottom: 0;
  margin-top: 50px;
}

.p-artist {
  width: 100%;
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .buttons {
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    margin-bottom: 0;
  }

  .descr-btn {
    margin-bottom: 25px;
  }

  .h1-artist {
    margin-top: 25px;
  }
}
