footer {
  flex: 0 0 auto;
  width: 100%;

  font-size: 16px;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  @extend %flex-column;

  a {
    color: $grey;
  }
}

.footer-list {
  margin-bottom: 0;
  padding-left: 0;

  text-align: start;

  p {
    margin: 0;
  }
}

.upper-footer {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 75px;

  li {
    list-style: none;
  }
}

.subscribe {
  display: flex;

  a {
    display: flex;
    align-items: center;
    height: 25px;
    margin-right: 25px;
  }
}

.footer-h2 {
  margin-top: 60px;
  margin-bottom: 16px;
  
  font-size: 18px;

  line-height: inherit;
  text-align: start;
}

.lower-footer {
  margin-top: 40px;
  margin-bottom: 50px;

  @extend %j-start;

  a {
    margin-right: 15px;
  }
}

.border {
  width: 100%;

  border-top: 1px solid $grey;
}

@media screen and (max-width: 676px) {
  .upper-footer {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    margin-top: 2rem;
    margin-bottom: 70px;

    ul {
      margin: 0;
    }
  }

  .footer-h2 {
    margin-top: 30px;
  }

  .lower-footer {
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 16px;

      text-align: left;
    }
  }
}
