@import "_atomic";

body {
  font-family: "Roboto";
  @extend %normal-font;
  line-height: 1.5;
  color: $white;
  background-color: $bg-color;
}

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  @extend %flex-column;
  @extend %a-center;

}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
    left: 0;
    right: 0;
  }
}

.btn {
  padding: 20px 30px;
  border-radius: 5px;
  border: 2px solid $white;
  text-decoration: none;
  color: $white;
  font-size: 16px;
  @extend %j-center;
}

.logo {
  @extend %flex-row;
  @extend %a-center;
  @extend %small-font;

  img {
    height: 24px;
    width: 24px;
    padding-right: 15px;
  }

  @media screen and (max-width: 600px){
    img {
      padding-right: 15px;
    }
  }
}

@include desktop-fonts;

@media screen and (max-width: 600px) {
  @include mobile-fonts;
}
