@import "_atomic";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  color: $white;

  font-family: "Roboto", "Roboto Slab", sans-serif;
  line-height: 1.5;

  background-color: $bg-color;

  @extend %normal-font;
  @extend %a-center;
  @extend %flex-column;
}

main {
  position: relative;

  flex: 1 0 auto;

  width: 100%;
  margin-top: 0;
  padding-top: 0;

  @extend %flex-column;
}

section {
  @extend %flex-column;
  @extend %j-center;
  @extend %a-center;
}

.c-flex-column {
  @extend %flex-column;
  @extend %a-center;
}

.c-flex-row {
  @extend %flex-row;
  @extend %j-between;
}

.grid-2-columns {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(2, minmax(260px, calc(50% - 50px)));
}

.grid-2-columns-home {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
}

.grid-4-columns {
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(4, minmax(100px, calc(25% - 50px)));
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: $white;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 20px 30px;

  color: $white;
  border: 1px solid $white;

  font-size: 12.8px;
  border-radius: 5px;
  text-decoration: none;

  cursor: pointer;
}

.item-descr {
  margin-top: 10px;
}

.add-inf {
  color: $grey;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-wrap {
  white-space: nowrap;
}

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.text-normal {
  @extend %normal-font;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.logo {
  @extend %a-center;
  @extend %small-font;

  img {
    width: 24px;
    height: 24px;
    padding-right: 15px;
  }
}

.upper-text {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.t-bold {
  font-weight: bold;
}

.color-d-grey {
  color: $dark-grey;
}

.color-grey {
  color: $grey;
}

@include desktop-fonts;

@media screen and (min-width: 1240px) {
  .container {
    width: 1240px;
  }
}

@media screen and (max-width: 676px) {
  .item {
    width: 100%;
  }

  .grid-m-2-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, calc(50% - 50px)));

    width: 100%;
  }

  @include mobile-fonts;
}
