@import "_atomic";

html, body {
  height: 100%;
}

body {
  margin: 0;
	padding: 0;
  font-family: "Roboto";
  line-height: 1.5;
  color: $white;
  background-color: $bg-color;
  overflow-x: hidden;
  @extend %normal-font;
  @extend %a-center;
  @extend %flex-column;
}

main {
  position: relative;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  flex: 1 0 auto;
  @extend %flex-column;
}

section {
  @extend %flex-column;
  @extend %j-center;
  @extend %a-center;
}


.c-flex-column {
  @extend %flex-column;
  @extend %a-center;
}

.c-flex-row {
  @extend %flex-row;
  @extend %j-between;
}

.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, calc(50% - 50px)));
  grid-row-gap: 25px;
  grid-column-gap: 50px;
}

.grid-2-columns-home {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  //grid-column-gap: 50px;
}

.grid-4-columns {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, calc(25% - 50px)));
  grid-row-gap: 25px;
  grid-column-gap: 50px;
}

.container {
  width:100%;
  max-width: 1200px;
  text-align: center;
  align-self: center;
  box-sizing: border-box;
}

.hf-container {
  @extend %j-between;
}

a {
  color: $white;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid $white;
  text-decoration: none;
  color: $white;
  font-size: 13px;
  cursor: pointer;
}

.item {
  align-self: baseline;
}

.item-descr {
  margin-top: 10px;
}

.add-inf {
  color: $grey;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-wrap {
  white-space: nowrap;
}

h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.align-left {
  text-align: left;
}

.text-normal {
  @extend %normal-font;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.logo {
  @extend %flex-row;
  @extend %a-center;
  @extend %small-font;

  img {
    height: 24px;
    width: 24px;
    padding-right: 15px;
  }
}

  .upper-text {
    text-transform: uppercase;
  }

  .t-bold {
    font-weight: bold;
  }

  .color-d-grey {
    color: $dark-grey;
  }

  .color-grey {
    color: $grey;
  }

  @include desktop-fonts;

  @media screen and (max-width: 1200px) {
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

@media screen and (max-width: 676px) {
  .container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 100%;
  }

  .grid-m-2-columns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, calc(50% - 50px)));
  }

  img {
    max-width: 100%;
    padding-right: 15px;
  }

  @include mobile-fonts;
}
