@import "_variables", "_atomic";

header {
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 9999;
    top: 25px;
    @extend %small-header;
    @extend %flex-row;
    @extend %j-center;
}

.header-container {
  display: flex;
  flex-direction: row;
}

  .small-header {
    @extend %small-header;
  }

  .header-input {
    font-family: Arial, sans-serif;
    background-color: $dark;
    color: #757575;
    border-radius: 15px;
    height: 1.5em;
    align-self: center;
    border: 3px solid $dark;
    padding: 10px 60px 10px 10px;
    @extend %flex;
    @extend %header-font;
  }

  .header-wrap {
    font-weight: bold;
    @extend %flex;
    @extend %j-between;
    @extend %a-center;
  }

  .horizontal-menu {
    list-style: none;
    margin: 0 0 0 50px;
    @extend %flex-row;
  }

  nav a {
    text-decoration: none;
    color: $white;
  }

  li {
    margin-right: 25px;
  }

  @media screen and (max-width: 750px) and (min-width: 676px) {
    .horizontal-menu {
      margin: 0;
    }
  }

  @media screen and (max-width: 676px){
    header {
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      top: 0;
    }

    .header-container {
      flex-direction: column;
    }

    .small-header {
      font-size: 11px;
    }

    .header-input {
      font-size: 13px;
      width: 100%;
    }

    .header-wrap {
      padding-top: 25px;
      flex-direction: column;
      align-items: flex-start;
    }

    .horizontal-menu {
      text-align: left;
      flex-direction: column;
      margin-left: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 0;
    }
  }
