@import "_variables", "_atomic";

header {
  position: absolute;
  top: 25px;

  z-index: 9999;

  width: 100%;

  background: transparent;

  @extend %small-header;
  @extend %flex-row;
  @extend %j-center;
}

.header-container {
  @extend %j-between;
}

.small-header {
  @extend %small-header;
}

.header-input {
  height: 1.5em;

  padding: 10px 65px 10px 5px;

  color: #757575;

  font: 13px Arial, sans-serif;
  background-color: $dark;

  border: 3px solid $dark;
  border-radius: 15px;

  @extend %flex;
}

.header-wrap {
  font-weight: bold;

  @extend %j-between;
  @extend %a-center;
}

.horizontal-menu {
  margin: 0 0 0 50px;

  list-style: none;

  @extend %flex-row;

  li {
    margin-right: 25px;
  }
}

@media screen and (max-width: 750px) and (min-width: 676px) {
  .horizontal-menu {
    margin: 0;
  }
}

@media screen and (max-width: 676px) {
  .header-container {
    flex-direction: column;
  }

  .small-header {
    font-size: 11px;
  }

  .header-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .horizontal-menu {
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    padding-left: 0;

    text-align: left;
  }
}
