@import "_variables", "_atomic";

header {
  .container {
    position: absolute;
    z-index: 9999;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    @extend %small-header;
    @extend %flex-row;
    @extend %j-between;
  }

  input {
    background-color: $dark;
    color: $dark-grey;
    border-radius: 15px;
    height: 1.6em;
    align-self: center;
    border: 1px solid $dark;
    padding: 0 0 0 10px;
    width: 21%;
    @extend %flex;

  }

  .wrap {
    @extend %flex;
    @extend %a-center;

    p {
      @extend %small-header;
    }
  }

  .horizontal-menu {
    list-style: none;
    margin-left: 40px;
    @extend %flex-row;

    li {
      margin-right: 5px;
    }
  }

  nav a {
    text-decoration: none;
    padding: 10px;
    color: $dark-grey;


  }

  @media screen and (max-width: 600px){
    .container {
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      margin: 0;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;

    }

    .wrap {
      flex-direction: column;
      align-items: flex-start;
      align-content: flex-start;
      padding-left: 0;
    }

    .horizontal-menu {
      text-align: left;
      flex-direction: column;
      margin-left: 0;
      margin-bottom: 20px;
      padding-left: 0;
      line-height: 15px;
    }

    nav a {
      padding: 0;
    }

    input {
      border: 2px solid $dark;
      font-size: 13.3px;
      line-height: 15.29px;
      width: 90%;
      padding: 10px 0 10px 10px;
    }
  }

}
