.news-wrap {
  text-align: left;
}

.news-author {
  margin-bottom: 35px;

  @extend %flex-row;
  @extend %a-center;

  img {
    width: 19px;
    height: 19px;
    margin-right: 15px;
  }
}

.autor {
  margin-right: 15px;

  color: $orange;

  @extend %small-font;
}

.data {
  color: $dark-grey;

  @extend %small-font;
}

.news-body {
  margin-bottom: 10px;
}

.grid-reverse {
  grid-template-areas: "grid-descr grid-img";
  margin-top: 65px;

  .news-body {
    margin-bottom: 5px;
  }
}

.grid-img {
  grid-area: grid-img;
}

.grid-desrc {
  grid-area: grid-desrc;
}

.btn-news {
  padding: 16px 30px 16px 30px;

  color: $dark-grey;

  border-color: $dark-grey;
}

.h2-news {
  text-align: center;
}

.h3-news {
  margin-top: 0;

  font-weight: normal;
  font-size: 30px;
}

@media screen and (max-width: 676px) {
  .mobile-news {
    grid-gap: 50px;
    grid-template-columns: 1fr;
  }

  .h3-news {
    font-size: 16px;
  }

  .grid-img {
    grid-area: initial;
  }

  .grid-reverse {
    grid-template-areas: none;
  }
}
