.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-form {
  max-width: 570px;
  width: 100%;
  @extend %flex-column;
  @extend %a-center;
}

.sqr-input {
  border-radius: 0;
  max-width: 270px;
  min-height: 50px;
  flex-grow: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 270px;
  padding: 0 0 0 20px;
  margin-bottom: 1.5rem;
  border: 1px solid $dark-grey;
  background: transparent;
  color: $white;

}
  .sqr-input::placeholder {
  color: $white;
}


.inputs {
  width: 100%;
  font-size: 14px;
  @extend %flex-row;
  @extend %j-between;
}

.btn-green {
  border: 1px solid $green;
  background-color: $green;
  width: 100%;
  margin: 0;
}

.btn-green-wrap {
  width: 100%;
  text-align: center;
}

.mar-t-30 {
  margin-top: 30px;
}

.h1-descr {
  margin: 0;
}

@media screen and (max-width: 676px) {
  .h1-descr {
    margin-top:  50px;
  }

  .mar-t-30 {
    margin-top: 10px;
  }

  .inputs {
    flex-direction: column;
  }

  .sqr-input {
    max-width: 100%;
  }

  .btn-green-wrap {
    padding-top: 0;
  }
}
