.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.order-form {
  max-width: 570px;
  width: 100%;
  line-height: 5px;
  @extend %flex-column;
  @extend %a-center;
}

.sqr-input {
  border-radius: 0;
  max-width: 270px;
  min-height: 50px;
  flex-grow: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 270px;
  padding: 0 0 0 20px;
  margin-bottom: 1.5rem;
  border: 1px solid $dark-grey;
  background: transparent;
  color: $white;
}

.inputs {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  @extend %flex-row;
  @extend %j-between;
}

.btn-green {
  border: 1px solid $green;
  background-color: $green;
  padding: 25px 30px;
  font-size: 13px;
  width: 100%;
  margin: 0;
}

.wrap {
  width: 100%;
}

.h1-home {
  margin: 10px 0 0 0;
}

.mar-t-30 {
  margin-top: 30px;
}

@media screen and (max-width: 676px) {
  .h1-home {
    margin-top:  60px;
  }

  .mar-t-30 {
    margin-top: 10px;
  }

  .inputs {
    flex-direction: column;
  }

  .sqr-input {
    max-width: 100% !important;
  }

  .btn-green {
    width: calc(100% - 60px);
  }

  .btn-green-wrap {
    padding-top: 0;
  }
}
