.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.page-pricing {
  text-align: center;
}

.items {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 50px;
}

.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.pricing-value {
  margin-bottom: 45px;
  @extend %j-center;
  @extend %a-center;
}

.price {
  font-size: 64px;
  line-height: 45px;
  padding-top: 15px;
}

.value {
  font-size: 32px;
  line-height: 32px;
  padding-left: 12px;
}

.pricing-footer {
  margin-top: 65px;
  margin-bottom: 55px;
  @extend %small-font;
}

.h3-pricing {
  font-size: 23px;
  margin-bottom: 200px;
}

.btn-pricing {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.section-pricing-footer {
  margin-bottom: 10px;
}

@media screen and (max-width: 676px) {
  .items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 50px;
  }

  .pricing-value {
    margin-bottom: 40px;
  }

  .h3-pricing {
    margin-top: 15px;
    font-size: 16px;
  }
}
