.container-app {
  display: grid;
  grid-template-columns: repeat(2, minmax(260px, 1fr));
  grid-template-areas: "descr-app img-app";
}

.page-app {
  margin-bottom: 100px;
  text-align: center;
}

.description-app {
  grid-area: descr-app;
  text-align: left;
  color: $dark-grey;
}

.img-app {
  grid-area: img-app;
}

.btn-red-app {
  padding: 16px 40px;
  border-color: $red;
  border-radius: 2rem;
  background-color: $red;
}

@media screen and (max-width: 676px) {
  .mobile-app {
    display: block;
  }

  .m-bot-30 {
    margin-top: 10px;
  }
}
