.container-app {
  display: grid;
  grid-gap: 40px;
  grid-template-areas: "descr-app img-app";
  grid-template-columns: repeat(2, minmax(260px, 2fr));
}

.page-app {
  margin-bottom: 100px;

  text-align: center;
}

.description-app {
  grid-area: descr-app;

  color: $dark-grey;
  text-align: left;
}

.img-app {
  grid-area: img-app;
}

.btn-red-app {
  padding: 16px 40px;

  border-color: $red;
  background-color: $red;
  border-radius: 2rem;
}

@media screen and (max-width: 676px) {
  .h2-app {
    margin-bottom: 3rem;
  }

  .container-app {
    grid-gap: 0;
    grid-template-areas: none;
    grid-template-columns: 1fr;
  }

  .img-app {
    display: flex;
    grid-area: initial;
    justify-content: center;
  }

  .description-app {
    grid-area: initial;
  }

  .m-bot-30 {
    margin-top: 10px;
  }
}
