.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.page-pricing {
  text-align: center;
}

.items {
  display: grid;
  grid-gap: 47px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin-bottom: 40px;
}

.pricing-item {
  padding: 0 1.5rem;

  background-position: center;
  background-size: cover;
  border-radius: 1rem;
}

.pricing-value {
  margin-bottom: 40px;

  @extend %j-center;
  @extend %a-start;
}

.price {
  font-size: 64px;
  line-height: 64px;
}

.value {
  margin-left: 16px;

  font-size: 32px;
  line-height: 48px;
}

.pricing-footer {
  margin-top: 64px;
  margin-bottom: 64px;

  @extend %small-font;
}

.h2-pricing {
  margin-bottom: 48px;
}

.h3-pricing {
  margin-bottom: 200px;

  font-weight: normal;
  font-size: 24px;
}

.btn-pricing {
  box-sizing: border-box;
  width: 100%;

  font-size: 16px;
}

.section-pricing-footer {
  margin-bottom: 0;
}

@media screen and (max-width: 676px) {
  .items {
    grid-gap: 50px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .pricing-value {
    margin-bottom: 40px;
  }

  .h3-pricing {
    margin-top: 15px;

    font-size: 16px;
  }
}
