.popular-track {
  @extend %flex-row;
}

.track-img {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

.track-info {
  flex-grow: 1;
  @extend %j-between;
  @extend %a-center;
}

.track-descr {
  margin: 0;
  @extend %small-font;
}

.track-time {
  color: $grey;
  @extend %small-font;
}

.track {
  text-align: left;
}

  @media screen and (max-width: 676px) {
    .popular-mobile-container {
      display: flex;
      flex-direction: column;
    }
  }
