.similar-item {
  width: calc(25% - 50px);
  margin-top: 25px;
}

.similar-info {
  margin-top: 10px;
  @extend %j-center;
}

.artist {
  @extend %normal-font;
}

.descr-center {
  text-align: center;
}

@media screen and (max-width: 676px) {
  .descr-center {
    max-width: calc(100% - 50px);
  }
  }
