.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.order-form {
  max-width: 570px;
  margin: 0 auto;
  @extend %flex-column;
}

.sqr-input {
  border-radius: 0;
  max-width: 270px;
  min-height: 50px;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  margin-bottom: 1.5rem;
  border: 1px solid $dark-grey;
  background: transparent;
}

.sqr-input::placeholder {
  text-weight: bold;
  color: $white;
}

.inputs {
  @extend %j-between;
}

.btn-green {
  border: 1px solid $green;
  background-color: $green;
  width: 100%;
}

.btn-green-wrap {
  width: 100%;
  text-align: center;
}

.p-descr {
  text-align: center;
}

.h1-descr {
  text-align: center;
  margin: 0;
}

.h2-descr {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 676px) {
  .h1-descr {
    margin-top:  50px;
  }

  .h2-descr {
    margin: 0;
  }

  .inputs {
    flex-direction: column;
  }

  .sqr-input {
    max-width: 100%;
  }
}
