.page-similar {
  margin-bottom: 100px;
}

.align-start {
  justify-items: start;
}

@media screen and (max-width: 676px) {
.mobile-item {
  text-align: start;
}

.m-descr {
  text-align: center;
}
}
