.items {
    width: 100%;
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 50px;
  }

  .pricing-item {
    flex: 1;
    padding: 0 $padding-item;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    padding-bottom: 10px;
  }

  .bg-free {
    background-image: url("../images/subscribe_1.png");
  }

  .bg-standart {
    background-image: url("../images/subscribe_2.png");
  }

  .bg-premium {
    background-image: url("../images/subscribe_3.png");
  }

  .pricing-value {
    margin-top: 0;
    margin-bottom: 25px;
    @extend %j-center;
    @extend %a-center;
}

.price {
    font-size: 64px;
    padding-top: 15px;
  }

  .value {
    font-size: 32px;
    padding-left: 12px;
    margin-top: 0;
  }

  .pricing-footer {
    padding: 0;
    margin-top: 65px;
    margin-bottom: 55px;
    @extend %small-font;
  }

  .section-footer {
    margin-bottom: 0;
    margin-top: 0;
  }

  .h2-pricing {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .h3-pricing {
    font-size: 23px;
    font-weight: normal;
    padding-bottom: 170px;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .btn-pricing {
    font-size: 16px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

@media screen and (max-width: 676px) {

  .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .h3-pricing {
    font-size: 15px;
    margin-top: 15px;
  }

  .btn-pricing {
    font-size: 16px;
  }

}
