.news-item {
  grid-gap: 50px;
}

.news-wrap {
  text-align: left;
}

.news-author {
  margin-bottom: 45px;

  img {
    width: 19px;
    height: 19px;
  }
}

.autor {
  color: $orange;
  margin-right: 15px;
}

.news-body {
  margin-bottom: 10px;
}

.grid-reverse {
  grid-template-areas: "grid-descr grid-img";
  margin-top: 60px;
}

.grid-img {
  grid-area: grid-img;
}

.grid-desrc {
  grid-area: grid-desrc;
}

.small-font {
  @extend %small-font;
}

.btn-news {
  padding: 16px 30px 16px 30px;
}

.h2-news {
  margin-bottom: 50px;
}

.h3-news {
  font-size: 30px;
  line-height: 45px;
  margin-top: 0;
}

@media screen and (max-width: 676px){
  .news-item {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .news-img {
    width: 100%;
  }

  .h3-news {
    font-size: 16px;
    line-height: 24px;
  }

  .grid-reverse {
    display: block;
    margin-top: 80px;
  }

  .grid-img {
    margin-bottom: 45px;
  }

}
