.news-item {
  grid-gap: 50px;
}

.news-wrap {
  text-align: left;
}

.news-author {
  @extend %flex-row;
  @extend %a-center;
  margin-bottom: 30px;

  img {
    width: 19px;
    height: 19px;
    margin-right: 15px;
  }
}

.autor {
  color: $orange;
  margin-right: 15px;
  @extend %small-font;
}

.data {
  color: $dark-grey;
  @extend %small-font;
}

.news-body {
  margin-bottom: 15px;
}

.grid-reverse {
  grid-template-areas: "grid-descr grid-img";
  margin-top: 65px;

  .news-body {
    margin-bottom: 10px;
  }
}

.grid-img {
  grid-area: grid-img;
}

.grid-desrc {
  grid-area: grid-desrc;
}

.btn-news {
  color: $dark-grey;
  border-color: $dark-grey;
  padding: 16px 30px 16px 30px;
}

.h2-news {
  margin-bottom: 50px;
}

.h3-news {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 676px){

  .news-body {
    margin-bottom: 10px;
  }

  .news-author {
    margin-bottom: 35px;
  }

  .news-item {
    max-width: 100%;
    grid-template-columns: 1fr;
  }

  .news-img {
    width: 100%;
  }

  .h3-news {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .grid-reverse {
    display: block;
    margin-top: 65px;

    .news-body {
      margin: 0;
    }
  }

  .grid-img {
    margin-bottom: 45px;
  }

}
