$black: #08020D;
$dark-grey: #cacaca;
$bg-color: #08020d;
$dark: #3C3B3D;
$green: #34C176;
$orange: #F89202;
$purple: #5328A1;
$red: #95390C;
$white: #ffffff;

@mixin desktop-fonts {
  h1 {
    font-size: 60px;
    line-height: 90px;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
  }

  h3 {
    font-size: 24px;
    line-height: 45px;
  }

  p{
    font-size: 16px;
    line-height: 24px;
  }

  %normal-font {
    font-size: 18px;
    line-height: 27px;
  }

  %small-font {
    font-size: 12.8px;
    line-height: 19.2px;
  }

  %small-header {
    font-size: 12px;
    line-height: 19px;
  }


}

@mixin mobile-fonts {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  %normal-font {
    font-size: 18px;
    line-height: 24px;
  }

  %small-font {
    font-size: 12.8px;
    line-height: 19.2px;
  }
}
