$dark-grey: #cacaca;
$grey: #e0e0e0;
$bg-color: #08020d;
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$white: #fff;

@mixin desktop-fonts {
  h1 {
    font-size: 60px;
    line-height: 90px;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
  }

  p {
    font-size: 16px;
  }

  %normal-font {
    font-size: 18px;
  }

  %small-font {
    font-size: 13px;
  }

  %small-header {
    font-size: 11px;
  }
}

@mixin mobile-fonts {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  %normal-font {
    font-size: 18px;
  }

  %small-font {
    font-size: 13px;
  }
}
