@import "_variables";
@import "_atomic";
@import "_general";
@import "_header";
@import "_page-description";
@import "_page-pricing";
@import "_page-news";
@import "_page-app";
@import "_footer";
@import "_artist-description";
@import "_page-popular-track";
@import "_page-similar";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}
